<div class="jumbotron">
        <h1 class="jumbo-title display-4">News to me!</h1>
        <p class="lead">Click the Headlines button above to see today's top articles or click the Saved button to view your
            saved articles.</p>
        <hr class="my-4">
    </div>
<h1>home</h1>